@charset "UTF-8";

* {
	font-family: NanumGothicCoding;
	src: url("../font/NanumGothicCoding.ttf");
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
}

.find-main {
            width: 500px;
            text-align: center;
            height: 450px;
            margin: auto;
            border: 1px solid #aaa;
            padding-top:150px;
            margin-top: 150px;
            padding:50px 50px;
        }


.find-wrap {
	width: 350px;
	text-align: center;
	margin: 0px auto;
}

/*아이디, 비번입력창*/
.input-wrap {
	text-align: center;
	margin: 0px auto;
	
}


        h1 {
            font-size: 30px;
        }


.form-input {
	width: 320px;
	padding: 10px;
	font-size: 15px;
	border: 1px solid black;
	margin: 5px 0px;
}


        /*대표버튼*/
        .click-btn2{
            text-align: center;
            padding: 0.7rem;
            font-size: 15px;
            width: 55%;
            background-color: white;
            border: none;
            color: #C80A1E;
            cursor: pointer;
        }

        .click-btn2:hover {
            padding: 0.7rem;
            font-size: 15px;
            width: 55%;
            background-color:antiquewhite;
            border: none;
            color: #C80A1E;
            border: 1px solid #aaa;
        }
