@charset "UTF-8";

* {
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
	
}

.find-main{
width:500px;
   text-align: center;
   height: 430px;
   margin: auto;
   margin-top: 150px;
   border:1px solid #3333;
   padding:50px 50px;
}

h1 {
	font-size: 30px;
}

.find-wrap {
	width: 350px;
	text-align: center;
	margin: auto;
	
}

/*아이디, 비번입력창*/

.input-wrap {
	text-align: center;
	margin: 0px auto;
}


.find-name{
	
	background-size: 30px;
	font-size: 14px;
	color: #AAAAAA;
	width: 100%;
	margin: 5px;
	padding:  10px 10px 10px 40px;
	border: 1px solid #3333;
}


.find-phone{ /*.form-input*/

	 font-size: 14px;
   color: #AAAAAA;
   width: 100%;
   margin: 5px;
   padding:  10px 10px 10px 40px;
   border: 1px solid #3333;
	



/*대표버튼*/
.click-btn {
	text-align: center;
	font-size: 16px;
	color: white;
	background-color: #ffff;
	width: 155px;
	padding: 0.5rem;
	margin-top: 23px;
	margin-bottom: 15px;
	margin-left: 50px;
	margin-right: 50px;;
	border: 1px solid transparent;
	cursor: pointer;
	
}

.click-btn:hover {
    text-align: center;
	width: 155px;
	padding: 0.5rem;
	margin-top: 23px;
	margin-bottom: 15px;
	margin-left: 50px;
	margin-right: 50px;;
	border: 1px solid transparent;
	cursor: pointer;

	font-size: 16px;
	background-color: #C80A1E;
	color: white;
}




}
.font-find_id {
	text-align: left;
}



.font-find_pw {
	text-align: center;
	width: 50%;
	border: none;
	color: #C80A1E;
	cursor: pointer;
	font-size:25px;
	padding: 10px;
}


