@charset "UTF-8";

* {
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
	
}

main{
	width: 500px;
	text-align: center;
	height: 430px;
	margin: auto;
	border: 1px solid #aaa;
	margin-top: 150px;
	padding:50px 50px;
}

h1 {
	font-size: 30px;
}

.find-wrap {
	width: 350px;
	text-align: center;
	margin: auto;
	
}

/*대표버튼*/
.click-btn {
	text-align: center;
	padding: 1rem;
	font-size: 16px;
	width: 45%;
	background-color: #C80A1E;
	border: none;
	color: white;
	cursor: pointer;
}

.click-btn:hover {
	padding: 1rem;
	font-size: 16px;
	width: 50%;
	background-color: #C80A1E;
	border: none;
	color: white;
}



.find-wrap{
	display:inline-block;
	padding : 
}

}
.font-find_id {
	text-align: left;
}

.font-find_pw {
	text-align: left;
	padding: 10px;
}


.font-find_pw {
	text-align: left;
	width: 50%;
	border: none;
	color: #C80A1E;
	cursor: pointer;
	font-size:25px;
}