/*
공용 스타일 파일(css 파일)

- style 태그 내부에 작성하는 내용만 기입
- 일룸대표색상
빨강 : #C80A1E;
회색 : #3333;
*/
@charset "UTF-8";

* {
	font-family: NanumGothicCoding;
	src: url("../font/NanumGothicCoding.ttf");
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
}

main {
	width:500px;
	text-align: center;
	height: 450px;
	margin: auto;
	border: 1px solid #aaa;
}

.login-wrap {
	width: 320px;
	text-align: center;
	margin: 0px auto;
}

/*아이디, 비번입력창*/
.input-wrap {
	text-align: center;
	margin: 0px auto;
}

.form-input {
	width: 320px;
	padding: 10px;
	font-size: 15px;
	border: 1px solid black;
	margin: 5px 0px;
}

h1 {

	font-size: 30px;
}

.checkbox-wrap {
	width: 270px;
	/*로그인 저장 체크박스 위치*/
}

.form-input.login-id{
	padding-left: 50px;
	background-image: url("../img/id.jpg");
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 3px 3px;
}

.form-input.login-pw{
	padding-left: 50px;
	background-image: url("../img/pw.png");
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 3px 3px;
}


.form-box {
	border-left: 20px;
}

.login-checkbox-wrap {
	text-align: left;
}

/*대표버튼*/
.click-btn {
	text-align: center;
	padding: 1rem;
	font-size: 16px;
	width: 45%;
	background-color: #C80A1E;
	border: none;
	color: white;
	cursor: pointer;
}

.click-btn:hover {
	padding: 1rem;
	font-size: 16px;
	width: 50%;
	background-color: #C80A1E;
	border: none;
	color: white;
}


.form-input login-submit{
	background-color: #C80A1E;
	border: 1px solid transparent;
	width: 200px;
	color: white;
}
/* 로그인, 회원가입시 설정조건
user_Id:  regex =/^[a-z0-9]{8-20}$/g;

user_Pw: regex=/[a-zA-Z0-9]{8,16}/g;
*/


.form-join join-submit{
	 text-decoration: none;
}

.form-find findid,pw-submit{
	text-decoration: none;
}

.join+find_id,pw{
	display: inline-block;
}
.join_find_id,pw{
	display: inline-block;
}
}
