@charset "UTF-8";

    * {
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        font-family: 'Noto Sans KR', sans-serif;
    }
    
    /* 상단 메뉴 3등분 */
    #container {
        width: 100%;
        display: flex;
        position: fixed;
        background-color: rgba(255, 255, 255, 0.95);
        height: 110px;
        top:0;
    }

    #box_left {
        flex: 1;
    }

    #menu_logo {
        flex: 1;
        text-align: center;
        margin: 80px 0px 0px 0
    }

    #box_right {
        flex: 1;
        text-align: right;
    }

    /* 전체메뉴 */
    .menu,
    .menu>.menu_left,
    .menu>.menu_left>.menu_left_innerMenu,
    .menu>.menu_right,
    .menu>.menu_logo {
        margin: 0px;
        padding: 10px;
        list-style: none;
    }

    /*가운데 로고*/
    .menu_logo {
        margin: 20px 0px 0px 0px;
    }

    /*  메뉴 가로로 */
    .menu_left,
    .menu_logo,
    .menu_right {
        display: inline-block;
    }

    /* 카테고리 상세 */
    .menu_left_innerMenu {
        display: none;
        position: absolute;
        font-weight: normal;
        border: 1px solid #333;
        width: 70px;
        font-size: 12px;
        background-color: rgba(255, 255, 255, 0.95);
    }

    /* 카테고리 효과 */
    .menu>.menu_left:hover .menu_left_innerMenu {
        display: block;
    }

    /* 전체 왼쪽 메뉴 */
    .menu.side_left {
        float: left;
        padding: 30px 0px 0px 50px;
    }


    /* 전체 오른쪽 메뉴 */
    .menu.side_right {
        /*        float: right;*/
        display: inline-block;
        padding: 20px 50px 0px 0px;
    }

    a {
        text-decoration: none;
        color: #333;
        font-size: 13px;
    }


    /* 왼쪽 카테고리 */
    .menu_left {
        font-weight: bold;
        cursor: pointer;
    }

    /* 검색창 */
    #container>#box_right>.menu.side_right>#search {
        background-color: white;
    }

    #search>form>.search_box {
        width: 100px;
        height: 20px;
        margin: 0px 10px;
        padding-left: 15px;
        border: 2px solid #C80A1E;
        padding-bottom: 5
    }

    /* footer 하단 */
    .footer {
        position: absolute;
        width: 100%;
        background-color: #f0f0f0;
        border: none;
        margin-top: 120px
    }

    .footer_inner {
        width: 1200px;
        padding: 55px 20px 20px;
        margin: 0px auto;
    }

    /* footer 가로로*/
    .footer_top,
    li,
    .footer_inner_box,
    .footer_inner_item {
        list-style: none;
    }

    .footer_inner_item {
        display: inline-block;
        padding: 0px 40px 0px;
        
    }

    /* footer 폰트*/
    .footer .footer_inner_box .footer_inner_item .info_title,
    .info_title_number,
    #second_footer>.footer_inner_box {
        font-size: 13px;
        font-weight: 500;
        margin-bottom: 14px;
        color: #333;
        letter-spacing: -1.5px;
    }

    .info_title_number,
    .footer_bottom_detail {
        letter-spacing: 0;
    }

    /* footer_top 세로선*/
    .footer .footer_inner_separator_line {
        width: 1px;
        height: 130px;
        background-color: #e0e0e0;
        position: absolute;
        right: 40%;
    }

    .footer_bottom {
        float: right;
        padding-left: 20px;
    }
    