@charset "UTF-8";
   main {
        width: 100%;
        height: 60%;
        margin: auto;
    }

    * {
        box-sizing: border-box;
        font-family: 'NanumBarunGothic';
        src: url("../font/NanumBarunGothic.ttf");
    }

    .sidebar {
        /*
        bottom: 0;
        float: left;
        */
        
        position: absolute;
        margin-top: 15px;
        top: 325px;
        left: 50px;
        width: 10%;
        height: 500px;
        border: solid 1px;
        border-color: darkgray;
    }

    .container {
        width: 100%;
        padding-top: 150px;   
    }

    div>p {
        margin: auto;
        margin-bottom: 5px;
        padding: 0.5rem;
        color: #aaa;
        border: 1px solid;
        width: 50%;
    }

    aside>ul>li {
        margin-top: 30px;
        margin-right: 40px;
        text-align: center;
        list-style: none;    
    }
    

    .id-input,
    .pw-input,
    .input-calendar,
    .phone-input,
    .addr-input {
        padding: 0.5rem;
        width: 50%;
        font-size: 20px;
        color: dimgray;
        border: none;
    }

    div>p>span {
        font-size: 20px;
        margin-left: 20px;
    }

    aside>ul>li>a {
        text-decoration: none;
        color: black;
        font-size: 15px;
    }

    .font-head {
        font-size: 40px;
    }

    .margin-down {
        margin-bottom: 50px;
    }

    .margin-up {
        margin-bottom: 20px;
    }
    
	 .margin-right{
        margin-right: 115px;
	 }  
	   
    .join-btn {
        padding: 1rem;
        font-size: 20px;
        width: 15%;
        background-color: dimgrey;
        border: none;
        color: white;
        cursor: pointer;
    }

    .join-btn:hover {
        padding: 1rem;
        font-size: 16px;
        width: 15%;
        background-color: #333333;
        border: none;
        color: white;
        cursor: pointer;
    }

    .join-btn2 {
        padding: 1rem;
        font-size: 16px;
        width: 15%;
        background-color: dimgrey;
        border: none;
        color: white;
        cursor: pointer;
    }

    .join-btn2:hover {
        padding: 1rem;
        font-size: 16px;
        width: 15%;
        background-color: #333333;
        border: none;
        color: white;
        cursor: pointer;
    }

    .addr-btn {
        padding: 0.5rem;
        font-size: 16px;
        width: 10%;
        background-color: dimgrey;
        border: none;
        color: white;
        cursor: pointer;
        margin-right: 25px
    }

    .addr-btn:hover {
        padding: 0.5rem;
        font-size: 16px;
        width: 10%;
        background-color: #333333;
        border: none;
        color: white;
        cursor: pointer;
    }